body {
	background: linear-gradient( to bottom left, rgb(400, 330, 100), rgba(400, 330, 100, 0));
	background-size: cover;
	/*(to right, red, green,yellow, blue);
		background-size: cover;
		( to right, rgb(260, 280, 100), rgba(260, 280, 100, 0))*/
		}
h2[class=set] {
	color: yellow
}
h2{
	color: blue

}
#peo {
	color: black
}
/* background: url(../index.html/images/chicams.jpg);
	 background-size: cover;/